<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="materialize/style/styleCss.css">
    <link href="materialize/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMIN</title>
</head>
<body>
<nav>
    <div class="nav-wrapper" id="header">
        <a href="/" class="brand-logo">BirdBx</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/gaiola">Gaiola</a></li>
            <li><a href="/passaros">Passáros</a></li>
            <li><a href="/static">Dados</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </div>
</nav>

</header>
<div class="row">
    <table id="cadastro">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Nome do criatório</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td><span th:text="${usuario.id}"></span></td>
            <td><span th:text="${usuario.nome}"></span></td>
            <td><span th:text="${usuario.email}"></span></td>
            <td><span th:text="${usuario.nomeCriatorio}"></span></td>
            <td><a th:href="@{/deletarUsuario{id}(id = ${usuario.id}) }"><i
                    class="material-icons left">delete</i></a></td>
            <td><a th:href="@{/editarUsuario{id}(id = ${usuario.id}) }"><i class="material-icons left">create</i></a></td>
        </tr>

        </tbody>
    </table>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>