<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link th:href="@{/materialize/css/styleEntrar.css}" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://img.icons8.com/carbon-copy/2x/bird.png" id="icon" alt="User Icon"/>
        </div>
        <form  method="post">
            <input type="email" id="login" class="fadeIn second" name="username" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <button >FAZER LOGIN</button>

        </form>

        <div id="formFooter">
            <a class="underlineHover" href="/cadastro">Cadastre-se</a>
        </div>

    </div>
</div>
</body>
</html>