<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="materialize/style/styleCss.css">
    <link href="materialize/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gaiolas</title>
</head>
<body>
<nav>
    <div class="nav-wrapper" id="header">
        <a href="/" class="brand-logo">BirdBx</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/gaiola">Gaiola</a></li>
            <li><a href="/passaros">Passáros</a></li>
        </ul>
    </div>
</nav>
<h1 class="center">CADASTRAMENTO</h1>
<header>
    <div class="row">
        <form method="post" class="container center">
            <div class="row">
                <div class="input-field col s4">
                    Raça: <input type="text" name="raca" placeholder="Piriquito" value="" required>
                </div>
                <div class="input-field col s2">
                    Sexo <input type="text", name="sexo" placeholder="M/F" value="" required>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">
                add_circle_outline</i>Adicionar passaro</button>
        </form>
    </div>
    <div class="row">
    <table id="cadastro">
        <thead>
        <tr>
            <th>Id</th>
            <th>Raça</th>
            <th>Sexo</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="passaro : ${passaros}">
            <td th:text="${passaro.id}"></td>
            <td th:text="${passaro.raca}"></td>
            <td th:text="${passaro.sexo}"></td>
            <td><a th:href="@{/deletarPassaro{id}(id = ${passaro.id}) }"><i
                    class="material-icons left">delete</i></a></td>
        </tr>

        </tbody>

    </table>

    </div>
</header>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>